<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

	android:installLocation="auto" android:versionCode="1" android:versionName="1.0" package="com.tealeaf">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14" />

	<supports-screens android:resizeable="true" android:smallScreens="true" android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" />

	<uses-feature android:glEsVersion="0x00020000"/>
	<uses-feature android:name="android.hardware.telephony" android:required="false" />
	<uses-feature android:name="android.hardware.wifi" android:required="false" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>

<!--START_PLUGINS_MANIFEST-->
<!--END_PLUGINS_MANIFEST-->

	<application android:name="com.tealeaf.TeaLeafApplication" android:debuggable="true" android:icon="@drawable/icon" android:label="TeaLeaf">

		<!-- These are all the assumed default values; change as necessary and remove any others -->
		<meta-data android:name="gameHash" android:value="Unknown" />
		<meta-data android:name="sdkHash" android:value="Unknown" />
		<meta-data android:name="androidHash" android:value="Unknown" />
		<meta-data android:name="develop" android:value="false" />
		<meta-data android:name="appID" android:value="tealeaf" />
		<meta-data android:name="fullscreen" android:value="true" />
		<meta-data android:name="codeHost" android:value="s.wee.cat" />
		<meta-data android:name="tcpHost" android:value="s.wee.cat" />
		<meta-data android:name="codePort" android:value="80" />
		<meta-data android:name="tcpPort" android:value="4747" />
		<meta-data android:name="entryPoint" android:value="gc.native.launchClient" />
		<meta-data android:name="useZeroConfig" android:value="false" />
		<meta-data android:name="enableUpdater" android:value="false" />
		<meta-data android:name="disableLogs" android:value="false" />
		<meta-data android:name="pushUrl" android:value="https://api.gameclosure.com/push/%s/?device=%s&amp;version=%s" />
		<meta-data android:name="contactsUrl" android:value="https://api.gameclosure.com/users/me/contacts/?device=%s" />

		<activity android:name=".TeaLeaf" android:launchMode="singleTask" android:configChanges="keyboardHidden|orientation|screenSize" android:label="TeaLeaf"
				android:screenOrientation="portrait" android:windowSoftInputMode="stateUnspecified|adjustPan" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:host="*" android:scheme="tealeaf" />
			</intent-filter>
<!--START_PLUGINS_ACTIVITY-->
<!--END_PLUGINS_ACTIVITY-->
		</activity>

		<activity android:name="com.tealeaf.CrashRecover" android:configChanges="keyboard|keyboardHidden|orientation" android:excludeFromRecents="true" android:exported="false" android:stateNotNeeded="true" android:process=":CrashRecover" />


		<receiver android:name="com.google.ads.InstallReceiver" android:exported="true"/>
		<receiver android:name="com.google.android.apps.analytics.AnalyticsReceiver" android:exported="true" />
		<receiver android:name="com.tealeaf.TeaLeafReceiver" android:exported="true">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>

<!--START_PLUGINS_APPLICATION-->
<!--END_PLUGINS_APPLICATION-->
	</application>

</manifest>
